MONGO_URL="mongodb+srv://USER:PASS@cluster.mongodb.net/"
DB_NAME="borbi_tech"
EMERGENT_LLM_KEY="sk-emergent-xxx"
JWT_SECRET="borbi_tech_secret_key_2025_transtech_solution_secure"
SECRET_KEY="borbi_tech_hash_secret_2025"
PLATFORM_FEE_RATE="0.5"
ADMIN_EMAIL="pauledoux@protonmail.com"
EXCHANGE_RATE_USD_XOF="600"
EXCHANGE_RATE_EUR_XOF="655"
